  <div class="flex flex-col w-full h-full ">
    <div class="flex flex-col w-full space-y-2 ">

      <div class="flex flex-col ">
        <label class="ml-1 text-[#212529]" for="nome" >Nome</label>
        <input id="nome" type="text" pInputText [(ngModel)]="aluno.Nome" class="!border-[#ced4da] !hover:border-[#ced4da] !focus:ring-0 !focus:border-[#ced4da]" placeholder="Digite o nome do aluno" />
      </div>

      <div class="flex flex-col">
        <label class="ml-1 text-[#212529]" for="email">Email</label>
        <input
         id="email" type="email" class="!border-[#ced4da] !hover:border-[#ced4da] !focus:ring-0 !focus:border-[#ced4da]" pInputText [(ngModel)]="aluno.Email" placeholder="Digite o email do aluno" />
      </div>

      <div class="flex flex-col">
        <label class="ml-1 text-[#212529]" for="dataNascimento">Data de Nascimento</label>
        <p-calendar class="!border-[#ced4da] !hover:border-[#ced4da] !focus:ring-0 !focus:border-[#ced4da]" id="dataNascimento" [(ngModel)]="aluno.DataNascimento" dateFormat="dd/mm/yy" showIcon></p-calendar>
      </div>

      <div class="flex flex-col ">
        <label class="ml-1 text-[#212529]" for="sexo">Sexo</label>
        <p-dropdown class="!border-[#ced4da] !hover:border-[#ced4da] !focus:ring-0 !focus:border-[#ced4da]" id="sexo" [(ngModel)]="aluno.Sexo" [options]="sexos" placeholder="Selecione o sexo"></p-dropdown>
      </div>
    </div>


  </div>

  <div class="flex justify-end space-x-4">
    <button pButton type="button" (click)="resetForm()" label="Cancelar" icon="pi pi-times" severity="danger" class="" (click)="closeDialog()"></button>
    <div (click)="saveAluno()" class="flex flex-row w-24 bg-[#2196f3] text-[#fff] hover:bg-[#0c7cd5] rounded-md justify-center items-center font-bold space-x-2 cursor-pointer select-none">
      <i class="pi pi-check"></i>
      <p>Salvar</p>
    </div>
  </div>
